<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.05);
        }
        h1 {
            color: #343a40;
            margin-bottom: 20px;
        }
        .card-title {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1><%=category%> Products</h1>
        <div class="row">
            <% products.forEach(function(product) { %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/products/<%= product._id %>" class="text-dark"><%= product.name %></a>
                            </h5>
                            <p class="card-text">Click to view details</p>

                        </div>

                    </div>

                
                </div>

            <% }); %>
        </div>
        <a href="/products/new">New product</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
